#container{
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    /* grid-template-rows:  50px 50px 50px 50px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.item{
    /* width: 100px;
    height: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

#grid{
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: pink;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

}

.header{
    border: 2px solid white;
    
    grid-column: 1/12;
}

.navigation{
    border: 2px solid white;
    grid-column: 4/ span 6;
    grid-row: 2;
}

.sidebar{
    border: 2px solid white;
    grid-column: 1/span 3;
    grid-row: 2/ span 10;
}

.main{
    border: 2px solid white;
    grid-row: 3/ span 9;
    grid-column: 4/ span 6;
}
.ads{
    border: 2px solid white;
    grid-row: 2/ span 10;
    grid-column: 10/ span 2;
}
.footer{
    border: 2px solid white;
    grid-column: 1/12;
}

@media (max-width: 750px){
    
.header{
    grid-column: 1/ span 12;
}

.navigation{
    grid-column: 2/ span 12;
    grid-row: 2;
}

.sidebar{
    grid-row: 3/ span 9;
    grid-column: 1/span 3;
}
.main{
    grid-row:3/span 9;
    grid-column:4/ span 9;
}

.ads{
    grid-row: 12;
    grid-column: 1/ span 3;
}

.footer{
    grid-row: 12;
    grid-column: 4/span 9;
}
    
}