body{
    padding: 0;
    margin: 0;
    font-family:Arial, sans-serif;
    /* background-color: black; */
}

header {
    position: sticky;
    top: 0;
    background-color: black; /* Or any color */
    z-index: 1000; /* Keeps it above other elements */
  }

.header-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color:black;
    height: 60px;
    width: 100%;  
    gap: 5px;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3), 
}

.header-nav img{
    height: 20px;
    width: 80px;
    margin-top: 20px;
    margin-left: 5px;
}

.main-links{
    display: flex;
   align-items: space-evenly;
}

.header-nav ul{
    display: flex;         /* makes items horizontal */
    justify-content: space-between;
    list-style: none;
    gap: 40px; /* adds space between items */
    padding: 0;
    margin-top: 20px;
}

.header-nav a{
text-decoration: none;
color: white;
font-size: 18px;
padding: 10px 20px;
    
}

.vertical-bar{
    width: 2px;
    height: 30px;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:white;
}

.subscription{
    margin-top: 20px;
}

.subscription i{
    color: white;
    padding-right: 6px;
}

.subscription{
    padding-left: -70px;
}

.profile button{
    text-decoration: none;
    background-color: black;
    border: black;
}

.profile i{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 16px;
}

.profile select{
    color: white;
    background-color: black;
    border: black;
    font-size: 14px;
    font-weight: bold;
}

.profile ul {
    display: flex;
    align-items: center;     /* Vertically center all items */
    gap: 15px;               /* Add space between items */
    list-style: none;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
  }

  .btn1 i{
    cursor: pointer;
    padding: 15px 15px;
  }

  .btn2 i{
    cursor: pointer;
    padding: 10px 20px;
  }

  .profile select{
    cursor: pointer;
  }

  .profile img {
    height: 25px;
    width: 30px;
  }

#signin{
background-color: blue;
color: white;
font-weight: bold;
height: 42px;
width: 90px;
border-radius: 5px;
opacity: 0.85;
}

#signin:hover{
    opacity: 1;
    transition: blue 0.3s ease-in;
    cursor: pointer;  
}

.nav-link:hover {
    color: black;
    background-color: white;
    border-radius: 5px;   
  }


  .subscription:hover a {
    color: black;
    background-color: white;
    border-radius: 5px;
  }


  .subscription:hover i{
    color: black;
  }


  .btn2:hover i{
    color: black;
    background-color: white;
    border-radius: 5px;
  }


  .btn1:hover i{
    color: black;
    background-color: white;
    border-radius: 50%;
  }

  .slt:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 8px 8px;
  }
  
  .container {
    display: flex;           /* To position .left and .right side by side */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full height of viewport */
    background-color:black;
  }
  

  .left, .right {
    width: 50%;              /* Each takes 50% of the container */
    height: 400px;           /* Set a visible height */
  }

  .right {
    background-color: yellow;
  }
  
  .left {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding-left: 3rem;
  }

  .left h1{
        color:white;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
  }

  .left p{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .left button{
  height: 3.5rem;
  width: 13rem;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 540;
  transition: all 0.5s ease-out;
  }


  .left button:hover{
    opacity: 0.9;
    transform: scale(1.1); /* Slight zoom effect */
  }

  .right{
    background-image: url(./Asset/Right.png);
    background-size: cover;

    
  }